body{
    color:white;
    background-color: lightgrey
}

.team-heading{
    background-color: tomato;
}

.engineer-header{
    background-color:darkslategray
}

.manager-header{
    background-color:darkcyan;
}

.intern-header{
    background-color: crimson;
}