body{
    color:white;
    background-color: lightgrey
}
.card {
    margin: 10px;
}

.card-header{
    margin-top: 15px;
}

.card-body{
    color: black;
}

.team-heading{
    background-color: tomato;
}

.engineer-header{
    background-color:darkslategray
}

.manager-header{
    background-color:darkcyan;
}

.intern-header{
    background-color: crimson;
}